// Core SCSS File

// VARS///////
$groundTileDim: 128px;



body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#1c8dff, #85eaef);
  font-family: sans-serif;
}


// IDS //////////////

#ground{
  height: $groundTileDim;
  width: 100vw;

  background: url('imgs/groundTile.jpg') repeat-x;
  background-size: $groundTileDim;
  position: fixed;
  left: 0;
  bottom: 0;

}



// *******CLASSES

.cloud{
  height: 125px;
  width: 125px;
  position: relative;
  top: 50px;
  left: 150px;


  background: url('imgs/cloudTile.png') no-repeat;
  background-size: 125px;


  animation: movingCloud;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

//  ANIMTATIONS ++++++++++

@keyframes movingCloud{
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(150px);
  }
  100%{
    transform: translateX(0px);
  }
}
